__pycache__
.DEV/

# Not sure if this should be in git or not.
# I do not understand it fully. (@dennisoline)
venv/

#Ignoring files made when using VSCode. (@ZheTioS)
### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Remnant from a plugin experimented with to generate a .exe (JPB) ###
MercuryGSEnv/

### Ignore PyCharm Files ### (JPB)
.idea/
mercuryDev